<h1>Add a New Recipe!</h1>
<form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
    <section>
        <div>
            <label for="recipeName">Name: </label>
            <input id="recipeName" type="text" formControlName="name">
        </div>

        <div>
            <label for="timeToPrepare">Time To Prepare: </label>
            <input id="timeToPrepare" type="text" formControlName="timeToPrepare">
        </div>

        <div>
            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">
        </div>

        <div>
            <label for="photo">Photo (Unsplash image url): </label>
            <input id="photo" type="text" formControlName="photo" placeholder="https://images.unsplash.com">
        </div>
        <h1>{{recipeForm.get('privacy')?.value}}</h1>
        <div>
            <label for="privacy">Public or Private?</label>
            <select name="privacy" id="privacy" formControlName="privacy">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
    </section>

    <section>
        <div>
            <label for="ingredients">Add Ingredient: </label>
            <input id="ingredients" type="text" formControlName="ingredients">
            <button type="button" (click)="addIngredient()">Add Ingredient</button>
        </div>
        <ul>
            <li *ngFor="let ingredient of ingredients">{{ingredient.words}}</li>
        </ul>
    </section>

    <section>
        <div>
            <label for="instructions">Add Instruction: </label>
            <input id="instructions" type="text" formControlName="instructions">
            <button type="button" (click)="addInstruction()">Add Instruction</button>
        </div>
        <ol>
            <li *ngFor="let instruction of instructions">{{instruction.words}}</li>
        </ol>
    </section>



    <button type="submit" [disabled]="!recipeForm.valid || 
    instructions.length < 1 || 
    ingredients.length < 1">Submit</button>
</form>