<form [formGroup]="recipeForm">
    <section>
        <p>* = required</p>
        <div class="input-container">
            <label for="recipeName">Recipe Name*: </label>
            <input class="form-control border-primary" id="recipeName" type="text" formControlName="name">
            <div *ngIf="recipeForm.get('name')?.hasError('maxlength')" class="form-text">40 characters max
            </div>
        </div>

        <div class="input-container">
            <label for="timeToPrepare">Time To Prepare (minutes)*: </label>
            <input class="form-control border-primary" id="timeToPrepare" type="number" formControlName="timeToPrepare">
            <div *ngIf="recipeForm.get('timeToPrepare')?.hasError('max')" class="form-text">1440 minutes max
            </div>
            <div *ngIf="recipeForm.get('timeToPrepare')?.hasError('min')" class="form-text">You can't travel
                into the past</div>
        </div>

        <div class="input-container">
            <label for="description">Description*: </label>
            <textarea class="form-control border-primary" id="description" type="text"
                formControlName="description"></textarea>
            <div *ngIf="recipeForm.get('description')?.hasError('maxlength')" class="form-text">500
                characters max
            </div>
        </div>

        <div class="input-container">
            <label for="photo">Photo (Unsplash image url): </label>
            <input class="form-control border-primary" id="photo" type="text" formControlName="photo"
                placeholder="https://images.unsplash.com">
            <div class="form-text">This field is optional.</div>
            <div *ngIf="recipeForm.get('photo')?.hasError('pattern')" class="form-text">Only image links from
                Unsplash.com are accepted.</div>
            <div *ngIf="recipeForm.get('photo')?.hasError('maxlength')" class="form-text">500 characters max
            </div>
        </div>
        <div class="input-container">
            <label for="privacy">Privacy*:</label>
            <select class="form-select border-primary" name="privacy" id="privacy" formControlName="privacy">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
    </section>

    <section class="add-to-recipe-container">
        <div class="add-to-recipe">
            <label for="ingredients">Add Ingredient*: </label>
            <input (keyup.enter)="addIngredient()" class="form-control border-primary" id="ingredients" type="text"
                [formControl]="ingredientsForm">
            <div *ngIf="ingredientsForm.hasError('maxlength')" class="form-text">100 characters max</div>
            <div *ngIf="ingredientsForm.hasError('duplicate')" class="form-text">Duplicate values aren't
                allowed
            </div>
        </div>
        <div class="margin-bottom">
            <button class="btn btn-warning" type="button" (click)="addIngredient()"
                [disabled]="!ingredientsForm.valid">Add
                Ingredient</button>
        </div>
        <ul>
            <li *ngFor="let ingredient of ingredients">{{ingredient.words}}
                <span><button class="btn btn-outline-danger btn-sm" type="button" [value]="ingredient.words"
                        (click)="removeIngredient($event)">X</button></span>
            </li>
        </ul>
    </section>

    <section class="add-to-recipe-container">
        <div class="add-to-recipe">
            <label for="instructions">Add Instruction*: </label>
            <input (keyup.enter)="addInstruction()" class="form-control border-primary" id="instructions" type="text"
                [formControl]="instructionsForm">
            <div *ngIf="instructionsForm.hasError('maxlength')" class="form-text">100 characters max</div>
            <div *ngIf="instructionsForm.hasError('duplicate')" class="form-text">Duplicate values aren't
                allowed
            </div>
        </div>
        <div class="margin-bottom">
            <button class="btn btn-warning" type="button" (click)="addInstruction()"
                [disabled]="!instructionsForm.valid">Add Instruction</button>
        </div>
        <ol class="add-recipe-lists">
            <li *ngFor="let instruction of instructions">{{instruction.words}}
                <span><button class="btn btn-outline-danger btn-sm" type="button" [value]="instruction.words"
                        (click)="removeInstruction($event)">X</button></span>
            </li>
        </ol>
    </section>
</form>