<ng-container *ngIf="isLoggedIn">
    <h1 class="text-primary-emphasis">My Recipes</h1>
    <div>
        <div>
            <h2>Private Recipes:</h2>
            <ul>
                <ng-container *ngFor="let recipe of dashboardRecipes">
                    <li *ngIf="recipe.privacy == 'private'"><a [routerLink]="['/recipe', recipe.id]">{{recipe.name}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div>
            <h2>Public Recipes:</h2>
            <ul>
                <ng-container *ngFor="let recipe of dashboardRecipes">
                    <li *ngIf="recipe.privacy == 'public'"><a [routerLink]="['/recipe', recipe.id]">{{recipe.name}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>

    <hr>

    <div>
        <h2 class="text-primary-emphasis">Edit One Of Your Recipes</h2>
        <div class="margin-left">
            <div class="input-container">
                <label for="selectRecipe">Select Recipe:</label>
                <select class="form-select border-primary" name="selectRecipe" id="recipeName"
                    [formControl]="selectRecipe">
                    <option value=""></option>
                    <option *ngFor="let recipe of dashboardRecipes" value="{{recipe.name}}">{{recipe.name}}</option>
                </select>
            </div>
            <app-recipe-form [hidden]="selectRecipe.value === ''"></app-recipe-form>
            <button class="btn btn-success" type="button" (click)="submitRecipeEdit()" [disabled]="!recipeForm.valid || 
            instructions.length < 1 || ingredients.length < 1">Update</button>
        </div>
    </div>

    <hr>

    <div>
        <h2 class="text-primary-emphasis">Delete A Recipe</h2>
        <div class="margin-left">
            <div class=" input-container">
                <label class="form-label" for="delete">Delete:</label>
                <select class="form-select border-primary" name="delete" id="delete" [formControl]="deleteThis">
                    <option value=""></option>
                    <option *ngFor="let recipe of dashboardRecipes" value="{{recipe.name}}">{{recipe.name}}</option>
                </select>
            </div>
            <button class="btn btn-danger" type="button" [disabled]="!deleteThis.valid"
                (click)="deleteRecipe()">Delete</button>
        </div>
    </div>
</ng-container>