<section *ngIf="recipe != null">
    <h1 class="underline text-primary">{{recipe.name}}</h1>
    <p>{{recipe.timeToPrepare}} Minutes Preparation</p>
    <img *ngIf="recipe.photo" class="food-image rounded" src={{recipe.photo}} alt="{{recipe.name}} photo" />

    <p>{{recipe.description}}</p>
    <h2 class="text-success">Ingredients:</h2>
    <ul>
        <li *ngFor="let ingredient of ingredients">{{ingredient.words}}</li>
    </ul>
    <h2 class="text-success">Instructions:</h2>
    <ol>
        <li *ngFor="let instruction of instructions">{{instruction.words}}</li>
    </ol>
</section>