html, body {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.add-to-recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin-bottom: 5px;
}

.add-to-recipe-container {
    margin-top: 10px;
    margin-bottom: 10px;
}